// ------------------ SHARED STYLES

nav {
   ul, li {
     list-style: none;
     padding: 0;
     margin: 0;
  } 
  a {
    display: block;
    text-decoration: none;
    text-align: left;
    &:hover, &:visited {
      text-decoration: none;
    }
  }
}

.menu-bar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  ul{
    padding-left: 20px;
  }
}

.menu-link {
  padding: 20px 0;
  background: #ffffff;
  color: #177E89;
  transition: background .2s, color .2s;
  position: relative;
  z-index: 1;
  &[aria-haspopup="true"] {
    padding-right: 0px;
    &:after {
      content: "";
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowRight.svg#accent');
      background-size: 14px;
      width: 14px;
      height: 14px;
      font-size:12px;
      position: absolute;
      right: 10px;
      top:50%;
      transform: translateY(-50%);
    }
  }
}

.mega-menu {
  background: #ffffff;
  z-index: 10;
}

.mega-menu--multiLevel {
  flex-direction: column;
}

@media all {
    
  .nav {
    padding: 20px;
  }
  
  .mobile-menu-trigger, .mobile-menu-header, .mobile-menu-back-item {
    display: block;
  }
  
  .mobile-menu-trigger {
    background: #177E89;
    color: #ffffff;
    border: 0;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 4px;
  }
  
  .mobile-menu-header {
    order: -1;
    background: grey;
    a {
      padding: 20px 25px;
      color: #ffffff;
      visibility: visible;
    }
  }
  
  .menu-bar {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;ss
    height: 100vh;
    width: 350px;
    max-width: 350px;
    max-width: 90%;
    overflow-x: hidden;
    transition: left .3s;
    box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.25);
    
    > li {
      > [aria-haspopup="true"] {
        ~ ul {
          display: flex;
          flex-direction: column;
          background: #ffffff;
          position: absolute;
          left: 100%;
          top: 0;
          max-height: 100vh;
          width: 100%;
          transition: left .3s;

          [aria-haspopup="true"] {
            color: #2a2a2a;
            &::after {
              content: "";
              background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowRight.svg#accent');
              background-size: 14px;
              width: 14px;
              height: 14px;
              font-size:12px;
              position: absolute;
              right: 35px;
              top:50%;
              transform: translateY(-50%);
            }
            ~ ul {
              max-height: 0px;
              transform-origin: top;
              transform: scaleY(0);
              transition: max-height .4s;
            }
          }
        }
      }
    }
  }
 
  .mobile-menu-back-item {
    order: -1;
    a {
      background: tint(grey, 70%);
      color: #2a2a2a;
      max-height: "calc(1.4em + 40px)";
      margin-top: "calc(0px - (1.4em + 40px))";
      pointer-events: none;
      &:before {
        content: "";
        width: 14px;
        height: 12px;
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowLeft.svg#default');
        background-size: 14px;
        margin-right: 10px;
        display: inline-block;
      }
    }
  }
  
  // ------------------------ ALL DEVICES
  
  .mobile-menu-trigger {
    // FUNCTIONALITY: Open mobile menu
    &:focus {
      ~ ul {
        left: 0;
      }
    }
  }
  
  .menu-bar {
    // FUNCTIONALITY: Keep menu open
    &:hover, &:focus-within {
      left: 0;
    }
    > li {
      > [aria-haspopup="true"] {
        // FUNCTIONALITY: Open mega menu
        &:focus {
          ~ ul {
            left: 0;
          }
        }
        ~ ul {
          // STYLING: Back button offset
          margin-top: "calc(1.4em + 40px)";
      
          // FUNCTIONALITY: Keep mega menu open
          &:hover, &:focus-within {
            left: 0;
          }
          // FUNCTIONALITY: Open dropdowns
          [aria-haspopup="true"] {
            &:focus {
              &::after {
                content: "";
                background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowRight.svg#accent');
                background-size: 14px;
                width: 14px;
                height: 14px;
                font-size:12px;
                position: absolute;
                right: 35px;
                top:50%;
                transform: translateY(-50%);
                transform: rotate(90deg);
              }
              
              ~ ul {
                max-height: 500px;
                animation: dropdown .3s forwards;
              }
            }
          }
          // FUNCTIONALITY: Keep dropdowns open
          li {
            &:focus-within {
              > [aria-haspopup="true"] {
                ~ ul {
                  max-height: 500px;
                  transform: scaleY(1);
                }
              }
            }
          }
          
        }
      }
      // FUNCTIONALITY: Prevent clicks on link behind back button
      &:focus-within ~ .mobile-menu-header a {
        visibility: hidden;
      }
    }
  }
  
  // ------------------------ TOUCH DEVICES
  
  @media (hover: none) {
    
    // FUNCTIONALITY: Open mobile menu 
    .mobile-menu-trigger {
      &:hover {
        ~ ul {
          left: 0;
        }
      }
    }
    
    // FUNCTIONALITY: Open mega menu
    .menu-bar {
      > li {
        > [aria-haspopup="true"] {
          &:hover {
            ~ ul {
              left: 0;
            }
          }
          ~ ul {
            &:hover {
              left: 0;
            }
            // FUNCTIONALITY: Open dropdowns
            [aria-haspopup="true"] {
              &:hover {
                ~ ul {
                  max-height: 500px;
                  animation: dropdown .3s forwards;
                }
              }
              ~ ul {
                &:hover {
                  max-height: 500px;
                  transform: scaleY(1);
                }
              }
            }
          }
        }
        &:hover ~ .mobile-menu-header {
          a {
            visibility: hidden;
          }
        }
      }
    }
  }
}

@media all and (min-width: 950px + 1px) {
  .menu-bar{
    left: 0;
  }
  // Hide mobile specific elements
  .mobile-menu-trigger, .mobile-menu-header, .mobile-menu-back-item {
    display: none;
  }
}
// ------------------ ANIMATIONS

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes flyout {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}